<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>ML API</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>


</head>

<body>
<div class="login">
    <h1>Customer Conversion Prediction</h1>

    <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
        <label for="education"> Choose the level of Education: </label>
        <select name="education">
            <option value="Advanced Degree">Advanced Degree</option>
            <option value="Undergrad">Undergrad</option>
            <option value="Graduate">Graduate</option>
        </select><br>

        <label for="family_size"> How many members are there in the Family: </label>
        <input type="text" name="family_size" placeholder="2 " required="required" /><br>

        <label for="investment_account"> Has Investment Account: </label>
        <select name="investment_account">
            <option value=1>YES</option>
            <option value=0>NO</option>
        </select><br>

        <label for="income"> Annual Income ($1000):  </label>
        <input type="text" name="income" placeholder="45 " required="required" /><br>

        <label for="creditc_avg_spent"> Credit Card Avg Spending per Month($1000):  </label>
        <input type="text" name="creditc_avg_spent" placeholder="1 " required="required" /><br>

        <label for="mortgage"> Value of Home Mortgage if any ($1000):  </label>
        <input type="text" name="mortgage" placeholder="1 " /><br>


        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

    <br>
    <br>


</div>
{{prediction_text}}

</body>
</html>